body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
  line-height: 1.6;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #087ea4;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: f4f4f4;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}
#navbar a {
  display: block;
}

#navbar li {
  list-style: none;
  padding: 10px;
  border-bottom: 10px;
}

#navbar header {
  text-align: center;
  font-size: 1.25rem;
  padding:  10px;
  border-bottom: 1px solid #ccc;
}
#main-doc {
  padding: 20px;
  margin-left: 200px;
}

@media (max-width: 900px) {
  #main-doc {
    width: 500px;
  }
  #navbar {
    width: 200px;
  }
}
